<a id="list"></a>
# `prod`

- [**About**](#about) 
- [**Nominate**](#nomination) 
- [**To Do**](#todo) 
- [**Other**](#otherlists)

| Top Level Categories           |
|--------------------------------|
{% for e in categories %}
| [**{{ e.name }}**](#{{ e.name|lower|replace(" ","") }})          |
{% endfor %}


{% for e in categories %}
## {{ e.name }}

| Category                       | Crate                     | URL                              |
|--------------------------------|---------------------------|----------------------------------|
{% for s in e.scategories %}
| {{ s.name }}                   | {{ s.crate|default("[**Nominate**](#nomination)") }} | {{ s.c_url|default("") }} |
{% endfor %}

[**Top**](#prod)
{% endfor %}

## About

Have a look at the founding doc: https://github.com/production-rs/bikeshed/blob/master/README.md

## Nomination

Please file issues for now.

## Todo

- Nomination process guidelines
- Issue labels
- Tighten up or extend categories
- Establish Panel
- Contribution guidelines, code of conduct
- Project details, see

## Other Lists

TODO: Link to individual pages of data...
