<a id="list"></a>
# `prod`

[![Join the chat at https://gitter.im/production-rs/Lobby](https://badges.gitter.im/production-rs/Lobby.svg)](https://gitter.im/production-rs/Lobby?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge)

- [**About**](#about) 
- [**Nominate**](#nomination) 
- [**To Do**](#todo) 
- [**Other**](#otherlists)

| Top Level Categories           |
|--------------------------------|
{% for e in categories %}
| [**{{ e.name }}**](#{{ e.name|lower|replace(" ","") }})          |
{% endfor %}


{% for e in categories %}
## {{ e.name }}

| Category                       | Crate                     | URL                              |
|--------------------------------|---------------------------|----------------------------------|
{% for s in e.scategories %}
| {{ s.name }} {% if s.alt %}[*Alt*](#alternatives){%endif%} | {{ s.crate|default("[**Nominate**](#nomination)") }} | {{ s.c_url|default("") }}  |
{% endfor %}

[**Top**](#prod)
{% endfor %}

## About

All crates on this list are open for discussion and updating, if you have a compelling reason (based on production experience) to choose another crate for a category, please file an issue.

Have a look at the founding doc: https://github.com/production-rs/bikeshed/blob/master/INFO.md

## Alternatives

If a crate is flagged as an 'alternative' crate for a given category it often means that it is an older crate with lots of established users that still enjoys widespread support, but is not necessarily the first choice for new projects.
It can also indicate that the alternate approach or API of the crate appeals to large set developers that are interested in solving the same problem.

## Nomination

Please file issues for now.

## Todo

- Align with https://crates.io/categories
- Nomination process guidelines
- Issue labels
- Tighten up or extend categories
- Establish Panel
- Contribution guidelines, code of conduct
- Project details (license, reasons, cargo-esr rating, etc)
- Category detail/writeup
- Other candidates for categories

## Other Lists

TODO: Link to individual pages of data...
